.dc-container{
    display: flex;
}

/* HEADER */

header{
    width: 100%;
    height: 100px;
    background-color: #F8F9FA;
}

header i{
    font-size: 1.2rem;
}

.bg-container{
    background-color:white;
}

.logo-small{
    width: 50px;
}

.logo-small img{
    width: 50px;
}

.logo-big{
    width: 150px;
}

.logo-big img{
    width: 100%;
}

.input-custom{
    background-color: #E5E5E5;
    border: none;
    border-radius: 10px;
}


header .btn-custom{
    border: none;
    background-color: white;
}

.fa-bell{
    color: orange;
    font-size: 1.2rem;
}

/* ASIDE*/

aside{
    width: 75px;
    height: calc(100vh - 100px);
    background-color: #051E34;
    background-image: url("/img/sidebar-bg.png");
    color: white;
}

aside a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

aside .icons{
    width: 80%;
}

aside .icons:hover{
    background-color: rgba(255, 255, 255, .5);
}

/* MAIN */

main{
    width: calc(100% - 75px);
    height: calc(100vh - 100px);
    background-color: #F8F9FA;
    overflow: auto;
}

/* HEADER MAIN */

.header-main{
    width: 100%;
    background-color: #1B72E8;
    color: white;
}

.header-main .custom-badge{
    font-size: .7rem;
    background-color: rgba(0, 0, 0, .2);
    margin: 0px 1px;
}

.header-main .fa-greater-than{
    font-size: .7rem;
}

.students-counter span{
    font-size: 2rem;
}

.header-main .btn-custom{
    border: 1px solid white;
    font-size: 2rem;
}

.header-main .custom-offcanvas{
    width: 100%;
}

/* CONTENT MAIN */

.content-main .img-class{
    width: 25px;
}

.content-main .btn-custom{
    color: #6C757D;
    border: 1px solid #6C757D;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
}

.content-main td{
    text-align: center;
}

/* MEDIA QUERY */

@media screen and (min-width:992px) {
    aside{
        width: 150px;
    }

    main{
        width: calc(100% - 150px);
    }

    .header-main .custom-offcanvas{
        width: 50%;
    }
    
}